@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    appearance: 0;
    font-family:"Poppins", sans-serif;
}

body {
    background-color:hsla(30,34%,44%,0.6);
    font-family: sans-serif;
    overflow-x: hidden;
    line-height: 1.5rem;
}



img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1, h2, h3 {
    margin-bottom: 2.5rem;
	text-align: center;
	color: black;
}





nav {
    background-color: hsla(30,34%,44%,0.7);
    width: 100%;
    height: 5.5rem;
    position: relative;
    top: 0;
    z-index: 10;
    box-shadow: black;
}


nav ul {
    position: absolute;
    top: 2.25rem;
    right: 6rem;
    display: flex;
    align-items: center;
}

nav ul li a {
    padding: 3rem;
    color: var(--gray);
}

nav ul li a:hover {
    color: white;
}

.nav-logo {
  height: 100px;
	width:100px;
}

#sub-ul {
    top: 3.25rem;
    right: auto;
    flex-direction: column;
    background-color: #26243C;
    visibility: hidden;
    transition: all 250ms ease;
    opacity: 0;
}


#sub-ul li a {
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
	color: white;
}

nav ul li:hover a + #sub-ul {
    visibility: visible;
    opacity: 1;
	background-color:  hsla(30,34%,44%,1);
}






.about-us {
    position: relative;
    z-index: 8;
    padding: 4rem 6rem;
}
.about-us-container {
    background-color: hsla(30,34%,44%,0.40);
    background-color: hsla(30,34%,44%,0.40);
    color: black;
    box-shadow: black;
    padding: 5rem;
    margin-inline: 10rem;
    border-radius: 10px;
}



.about-us-container h1 {
    color: black;
}

.about-us p {
    text-align: justify;

}


.team-container {   
   

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns:30%;
    gap: 4rem;
    overflow-x: auto;
    padding-inline: 2rem;
}


.our-info {     
    
  
    height: 26rem;
    border-radius: 10px;
}

.our-info h4 {
    text-align: center;
    padding: 0.6rem 0;
}

.img-thumbnail img{
    height: 18rem;
    object-fit: contain;
}



.home-sci {
    position: absolute;
    width: 170px;
    display: flex;
    justify-content: space-between;

    bottom: auto;
    right: auto;
    left: 45%;
    padding-top: 10px;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid hsla(30,34%,44%,0.6);
;
    border-radius: 50%;
    font-size: 20px;
    color:hsla(30,34%,44%,0.6);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
 
}

footer {
    position: relative;
    z-index: 5;
    display: grid;
    justify-content: center;
    background-color: hsla(30,34%,44%,0.7);
}

.footer-logo {
    margin: 1rem auto;
	height: 150px;
	width: 150px;
	position:relative;
}



.footer-links {
    text-align: center;
    margin: 2rem auto;
    padding-top: 46px;
    
}
.footer-links h4 a {
    color: black;
}

.footer-links h4 a:hover {
    color: white;
}


.footer-copyright {
    text-align: center;
    font-size: small;
    padding-bottom: 50px;
}




